.container{
    color:#1a0d00;
    background-color: #ffd480;
    border-style:solid;
    border-color: white;
    margin-top: 80px;
    width:380px;
    height:200px;
    position: relative;
    left: 450px;
}

p{
    margin-left: 25px;
    margin-top: 30px;
}