.container {
  color: #ffcc99;
  background-color: #4d2600;
  position: relative;
  left: 200px;
  border-radius: 50%;
  border-color: green;
  border-style: none;
  height: 330px;
  width: 330px;
}

.logo {
  position: relative;
  color: #ffe6cc;
  left: 60px;
  top: 80px;
  font-size: 4rem;
}

.subtitle {
  position: relative;
  color: #ffe6cc;
  left: 70px;
  top: 20px;
  font-size: 1.5rem;
}
