.container{
    color:#1a0d00;
    background-color: #ffd480;
    border-style:solid;
    border-color: white;
    margin-top: 80px;
    width:400px;
    height:200px;
    position: relative;
    left:50px;
}

.image{
    border-radius: 8px;
    // width: 0%;
    width:400px;
    height:200px;
    position: relative;
    left: 150px;
}

.title{
    color:rgb(88, 25, 25);
    position: relative;
    left:100px;
    margin-bottom: 25px;
}