.container{
    color:white;
    border-style:solid;
    border-color: white;
    width:400px;
    height:200px;
    position: relative;
    left:50px;
}

.image{
    border-radius: 8px;
    // width: 0%;
    width:400px;
    height:200px;
    position: relative;
    left: 150px;
}

.title{
    color:white;
    position: relative;
    left:190px;
}